@font-face {
	font-family: Raleway Bold;
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: OpenSans Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}

body {
    padding: 0;
    margin: 0 auto;
}

/*Начало блока header*/

header {
    min-height: 700px;
    background: url(../image/header-bg.jpg) no-repeat;
}

div.header-bg {
    background: rgba(43, 46, 74, 0.95);
}

nav {
    width: 1200px;
    min-height: 100px;
    margin: auto;
    border-bottom: 1px solid #4f5168;
}

a.sitename {
    float: left;
    margin: 38px 0 0;
}

ul.header-menu {
    float: right;
    margin: 43px 0 0;
}

ul.header-menu li {
    float: right;
    margin: 0 auto;
    padding: 0 0 0 60px;
    list-style: none;
    color: #fff;
    font-family: 'Raleway Bold', Arial, sans-serif;
    font-size: 13px;
    opacity: .75;
    text-transform: uppercase;
}

ul.header-menu li a {
    text-decoration: none;
    color: #fff;
}

ul.header-menu li a:hover {
    opacity: 0.5;
}

div.presentation {
    width: 1200px;
    min-height: 600px;
    margin: auto;
}

h2.presentation-header {
    margin: 0 auto;
    padding: 150px 150px 0;
    text-align: center;
    color: #fff;
    font-family: 'OpenSans Bold', Arial, sans-serif;
    font-size: 65px;
    line-height: 71px;
    text-transform: uppercase;
}

p.presentation-features {
    margin: 0 auto;
    padding: 25px 140px 0;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    line-height: 33px;
}

a.button {
    display: inline-block;
    min-width: 200px;
    margin: 70px 500px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    background: #e84545;
    border-radius: 2px;
}

a.botton-more:hover {
    opacity: 0.75;
}

/*Конец блока header*/

/*Начало блока section class="features-container"*/

.features-container {
	display: flex;
    width: 1200px;
    margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 470px;
    padding: 110px 45px 70px;
}

article {
	width: 400px;
	height: 280px;
    padding: 0;
	text-align: center;
}

.features-icons {
    display: block;
    height: 64px;
    margin: 0 auto;
    padding: 0;
}

article h1 {
    padding: 15px 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #2d3033;
	font-family: 'Raleway Bold', Arial, sans-serif;
}

article p {
    margin: 0 50px;
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
    line-height: 21px;
    color: #666;
}

.icon1 {
    width: 64px;
	background: url(../image/features-icons.png) no-repeat;
}

.icon2 {
	width: 77px;
	background: url(../image/features-icons.png) no-repeat -64px 0;
}

.icon3 {
	width: 45px;
	background: url(../image/features-icons.png) no-repeat -141px 0;
}

.icon4 {
	width: 60px;
	background: url(../image/features-icons.png) no-repeat -186px 0;
}

.icon5 {
	width: 76px;
	background: url(../image/features-icons.png) no-repeat -246px 0;
}

.icon6 {
	width: 83px;
	background: url(../image/features-icons.png) no-repeat -322px 0;
}

/*Конец блока section class="features-container"*/

/*Начало блока section class="gallery"*/

.gallery {
	display:flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

div.photo-window {
	position: relative;
	width: 25%;
    height: 18.4vw;
    margin: 0;
    padding: 0;
    outline: 1px solid #fff;
}

div.photo-window img {
    width: 100%;
    height: 100%;
}
div.photo-hover {
	position: absolute;
    width: 100%;
    height: 100%;
	top:0;
	left:0;
	opacity: 0;
}

div.photo-hover:hover {
	background-color: rgba(255, 51, 51, 0.9);
	opacity: 1;
}

div.photo-hover h3 {
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	padding-top: 7vw;
}

div.photo-hover p {
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
	text-align: center;
	text-transform: capitalize;
	color:#fff;
}

/*Конец блока section class="gallery"*/

/*Начало блока section class="contacts"*/

.contacts {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 70px 0;
    background: #3a3e64;
}

.contacts div {
    margin: 0;
    width: 400px;
}

h3.contacts-header {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Raleway Bold', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.contacts-text {
    margin: 0;
    padding: 10px 20px 0;
    font-size: 14px;
    line-height: 22.5px;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    color: #fff;
    opacity: .5;
}

.address {
    padding: 10px 120px 20px;
    font-style: normal;
}

ul.social-icon {
    padding: 0 131px;
    list-style: none;
}

ul.social-icon li {
    display: inline-block;
}

ul.social-icon li+li {
    padding-left: 5px;
}

ul.social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
}

ul.social-icon li a:hover {
    opacity: .5;
}

a.facebook {
    background: url(../image/facebook.png)
}

a.twitter {
    background: url(../image/twitter.png)
}

a.linkedin {
    background: url(../image/linkedin.png)
}

/*Конец блока section class="contacts"*/

/*Начало блока footer*/

footer {
    min-height: 95px;
    background: #313454;
}

footer p {
    margin: 0 auto;
    padding: 25px 0 0;
    font-size: 14px;
    line-height: 22.5px;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    color: #808080;
}

span.author {
    color: #fff;
}

span.author::before {
    content: "\2665";
    padding-right: 5px;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    color: #e84545;
}

/*Конец блока footer*/

/*Начало блока section класс team*/

ul.team-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 130px;
    width: 1170px;
    list-style: none;
}

figure, figcaption {
    margin: 0;
    padding: 0;
}

li.member-info {
    width: 270px;
}

li.member-info h2 {
    margin: 0;
    padding: 25px 0 0;
    font-size: 22px;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    color: #2d3033;
}

li.member-info h3 {
    margin: 0;
    padding: 5px 0 0;
    font-size: 13px;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #e84545;
}

li.member-info p {
    margin: 0;
    padding: 20px 0 0;
    font-size: 14px;
    font-family: 'Raleway', Arial, sans-serif;
    line-height: 21px;
    color: #6c7279;
}

ul.team-social-icon {
    margin: 0 auto;
    padding: 30px 0 0;
    list-style: none;
}

ul.team-social-icon li {
    display: inline-block;
}

ul.team-social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
}

ul.team-social-icon li a:hover {
    opacity: .5;
}

a.team-facebook {
    background: url(../image/team-facebook.png)
}

a.team-twitter {
    background: url(../image/team-twitter.png)
}

a.team-linkedin {
    background: url(../image/team-linkedin.png)
}

/*Конец блока section класс team*/